*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0f1216;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #161a1f;
  height: 7em;
}

header h1 {
  font-family: "Unica One", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #e6f6ff;
}

header p {
  font-size: 1.5em;
  text-transform: uppercase;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

p {
  font-family: "Play", Arial, Helvetica, sans-serif;
  color: #9bb4d4;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161a1f;
  height: 2em;
}

.vn-order {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 125px;
}

.divider {
  width: 1px;
  height: 700px;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.3), transparent);
  margin: auto 1rem;
}

.mascot {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.mascot img {
  height: auto;
  width: 380px;
}

.mascot a {
  color: #e6f6ff;
}

.mascot p {
  color: #c8defa;
}

.mascot p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  margin: 25px 25px;
  margin-top: 25px;
  font-weight: bold;
}

.anime-order {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 125px;
}

.anime-order p {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7rem;
  margin: 5px 25px;
  font-weight: bold;
}

h2 {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.2em;
  color: #9bb4d4;
  margin-bottom: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #4fc3f7, transparent);
}

.list-style li {
  font-family: "Play", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #e6f6ff;
  line-height: 35px;
  list-style: none;
  text-align: center;
}

.footer-container a {
  color: #e6f6ff;
}
